<div class="card-category-2" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @list.photo.key if @list.photo.attached? %>; background-size: cover')">
  <h1 class="py-5 fw-bold"><%= @list.name %></h1>
  <p class="fs-6 fst-italic" >  Published <%=time_ago_in_words(@list.created_at)%> ago,
    sent by: <%= @list.user.nickname %>
  </div>
  <div class="container-sm">
    <div class=" d-flex align-items-center justify-content-between p-3" >
    <% if current_user && @list.user == current_user%>
      <%= link_to "Deletar lista", list_path(@list), class: 'btn btn-dark', data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this list?" } %>
      <%= link_to 'Inserir novo filme', new_list_bookmark_path(@list), class: 'btn btn-dark' %>
      <%end%>
    </div>
  </div>
    <br/>
          <br/>
  <div class="cards-1 container">
    <% @list.movies.each do |movie| %>
      <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
      <div class="card-product">
        <%= image_tag movie.poster_url, style: 'background: cover' %>
        <div class="card-product-infos">
          <h2><%= movie.title %></h2>
          <p> <strong>Avaliação: </strong><%= bookmark.comment %></p>
          <% if current_user && @list.user == current_user%>
          <%= link_to bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Tem certeza que deseja excluir?"} do %>
            <i class="fa-regular fa-trash-can"></i>
          <% end %>
           <%end%>

      </div>

</div>
    <% end %>
  </div>
</div>
<br/>
<br/>
<br/>
